html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.container{
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 5px;
  position: relative;
}
body{
  color: #f5f5f5;
}


// прижать футєр к низу 
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}